---

import Hamburger from '../components/Hamburger.astro';
import Navigation from '../components/Navigation.astro';
import ThemeIcon from '../components/ThemeIcon.astro';


---

<header class="fixed w-full">
  <div class="l-inner flex flex-row justify-between">
    <div>
      <Hamburger />
    </div>
    <div>
      <ThemeIcon />
    </div>
    </div>
  <nav class="p-header__navs-sp">
    <Navigation />
  </nav>
</header>